@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

table{border-style : solid; border-color :white;}
a { color: #0060B6; text-decoration: none;}
a:hover { color:#00A0C6;  text-decoration:none; cursor:pointer;}
m1 { font-family: 'Gamja Flower', cursive; color: rgb(255, 208, 0); font-size: 60pt;}
m2 { font-family: 'Gamja Flower', cursive; color : rgb(68,61,61); font-size:20pt;}